<div class="user_new_page_title col-md-6 nopadding">
	<p>Headache Diary</p>
</div>
<div class="nav_bar col-md-6 nopadding">
	<ul>
		<li><%= link_to "Signout", log_out_path, :class => "sign_out_button" %></li>
		<li><%= link_to "New Headache", new_user_instance_path(@user) %></li>
		<li><%= link_to "History", user_instances_path(@user) %></li>
		<li><%= link_to "Profile", new_bio_path %></li>
		<li><%= link_to "Home", user_path(@user) %></li>
	</ul>
</div>
<div class="symptom_new_bg">
	<div class="symptom_new_phrase">
		<h1>What is your symptom?</h1>
	</div>
	<%= form_for @symptom do |f| %>
	<div class="symptom_new_text_box">
		<%= f.collection_select :name, @current_user.symptoms.select(:name).uniq, :name, :name, :class => "instance_new_field" %>
	</div>
	<div class="symptom_new_text_box">
		<%= f.text_area :description, :placeholder => 'Description:', :class => "symptom_new_text_field_description" %>
	</div>
	<div class="symptom_new_button_box">
		<%= f.submit :create, :value => "Next", :class => "symptom_new_button_field" %>
	</div>
	<% end %>
</div>