<div class="user_new_page_title col-md-6 nopadding">
		<p>Headache Diary</p>
	</div>
	<div class="nav_bar col-md-6 nopadding">
		<ul>
			<li><%= link_to "Signout", log_out_path, :class => "sign_out_button" %></li>
			<li><%= link_to "New Headache", new_user_instance_path(@user) %></li>
			<li><%= link_to "History", user_instances_path(@user) %></li>
			<li><%= link_to "Profile", new_bio_path %></li>
			<li><%= link_to "Home", user_path(@user) %></li>
		</ul>
</div>
<div class="instance_new_bg">
	<div class="instance_new_phrase">
		<h1>What type of pain are you having?</h1>
	</div>
	<%= form_for [@user, @instance] do |i| %>
	<div class="instance_new_field col-md-12">
	<%= i.collection_select :pain_type, @current_user.instances.select(:pain_type).uniq, :pain_type, :pain_type, :prompt => "Select ...", :class => "instance_new_field" %>
	</div>
	<div class="instance_new_button_box col-md-12">
	<%= i.submit :create, :class => "instance_new_button", :value => "Begin" %>
	<% end %>
	</div>
</div>