<div class="user_new_page_title col-md-6 nopadding">
	<p>Headache Diary</p>
</div>
<div class="nav_bar col-md-6 nopadding">
	<ul>
		<li><%= link_to "Signout", log_out_path, :class => "sign_out_button" %></li>
		<li><%= link_to "New Headache", new_user_instance_path(@user) %></li>
		<li><%= link_to "History", user_instances_path(@user) %></li>
		<li><%= link_to "Profile", new_bio_path %></li>
		<li><%= link_to "Home", user_path(@user) %></li>
	</ul>
</div>
<div class="affect_new_bg">
	<div class="affect_new_phrase">
		<h1>How did this affect your day?</h1>
	</div>
	<%= form_for @affect do |f| %>
	<div class="affect_new_text_box">
		<%= f.collection_select :title, @current_user.affects.select(:title).uniq, :title, :title, :class => "instance_new_field" %>
	</div>
	<div class="affect_new_text_box">
		<%= f.text_area :description, :placeholder => 'Description', :class => "affect_new_text_field_description" %>
	</div>
	<div class="affect_new_button_box">
		<%= f.submit :create, :value => "Next", :class => "affect_new_button_field" %>
	</div>
	<% end %>
</div>