<div class="users_show_bg">
	<div class="user_new_page_title col-md-6 nopadding">
		<p>Headache Diary</p>
	</div>
	<div class="nav_bar col-md-6 nopadding">
		<ul>
			<li><%= link_to "Signout", log_out_path, :class => "sign_out_button" %></li>
			<li><%= link_to "New Headache", new_user_instance_path(@user) %></li>
			<li><%= link_to "History", user_instances_path(@user) %></li>
			<li><%= link_to "Profile", new_bio_path %></li>
		</ul>
	</div>
	<!-- CHARTS -->
	<div class="charts_container col-md-12">
		<div class="row">
			<div class="col-md-6 graph_block">
				<div class="chart_title_block">
					<h1 class="col-md-12 chart_title" style="text-align: center;">Symptoms</h1>
				</div>
				<div class="pie_charts col-md-12">
					<%= pie_chart @current_user.symptom_name_count, colors: ["#ea9e70", "#a48a9e", "#ce7d78", "#c6e1e8", "#88DBB0", "#6FBDC3", "#325674", "#5a7558", "#EA7558"] %>
				</div>
				<div class="chart_title_block">
					<h1 class="col-md-12 chart_title" style="text-align: center;">Affects</h1>
				</div>
				<div class="pie_charts col-md-12">
					<%= pie_chart @current_user.affect_name_count, colors: ["#ea9e70", "#a48a9e", "#ce7d78", "#c6e1e8", "#88DBB0", "#6FBDC3", "#325674", "#5a7558", "#EA7558"] %>
				</div>
				<div class="chart_title_block">
					<h1 class="col-md-12 chart_title" style="text-align: center;">Locations</h1>
				</div>
				<div class="pie_charts col-md-12">
					<%= pie_chart @current_user.location_name_count, colors: ["#ea9e70", "#a48a9e", "#ce7d78", "#c6e1e8", "#88DBB0", "#6FBDC3", "#325674", "#5a7558", "#EA7558"] %>
				</div>
				<div class="chart_title_block">
					<h1 class="col-md-12 chart_title" style="text-align: center;">Medications</h1>
				</div>
				<div class="pie_charts col-md-12">
					<%= pie_chart @current_user.medication_name_count, colors: ["#ea9e70", "#a48a9e", "#ce7d78", "#c6e1e8", "#88DBB0", "#6FBDC3", "#325674", "#5a7558", "#EA7558"] %>
				</div>
			</div>
			<div class="col-md-6 graph_block">
				<div class="chart_title_block">
					<h1 class="col-md-12 chart_title" style="text-align: center;">Relief Methods</h1>
				</div>
				<div class="pie_charts col-md-12">
					<%= pie_chart @current_user.relief_name_count, colors: ["#ea9e70", "#a48a9e", "#ce7d78", "#c6e1e8", "#88DBB0", "#6FBDC3", "#325674", "#5a7558", "#EA7558"] %>
				</div>
				<div class="chart_title_block">
					<h1 class="col-md-12 chart_title" style="text-align: center;">Pre-Symptoms</h1>
				</div>
				<div class="pie_charts col-md-12">
					<%= pie_chart @current_user.sense_name_count, colors: ["#ea9e70", "#a48a9e", "#ce7d78", "#c6e1e8", "#88DBB0", "#6FBDC3", "#325674", "#5a7558", "#EA7558"] %>
				</div>
				<div class="chart_title_block">
					<h1 class="col-md-12 chart_title" style="text-align: center;">Triggers</h1>
				</div>
				<div class="pie_charts col-md-12">
					<%= pie_chart @current_user.trigger_name_count, colors: ["#ea9e70", "#a48a9e", "#ce7d78", "#c6e1e8", "#88DBB0", "#6FBDC3", "#325674", "#5a7558", "#EA7558"] %>
				</div>
				<div class="chart_title_block">
					<h1 class="col-md-12 chart_title" style="text-align: center;">Weather</h1>
				</div>
				<div class="pie_charts col-md-12">
					<%= pie_chart @current_user.weather_name_count, colors: ["#ea9e70", "#a48a9e", "#ce7d78", "#c6e1e8", "#88DBB0", "#6FBDC3", "#325674", "#5a7558", "#EA7558"] %>
				</div>
			</div>
		</div>
	</div>
</div>