<div class="user_new_page_title col-md-6 nopadding">
		<p>Headache Diary</p>
	</div>
	<div class="nav_bar col-md-6 nopadding">
		<ul>
			<li><%= link_to "Signout", log_out_path, :class => "sign_out_button" %></li>
			<li><%= link_to "New Headache", new_user_instance_path(@user) %></li>
			<li><%= link_to "History", user_instances_path(@user) %></li>
			<li><%= link_to "Profile", new_bio_path %></li>
			<li><%= link_to "Home", user_path(@user) %></li>
		</ul>
</div>
<div class="sense_new_bg">
	<div class="sense_new_phrase">
		<h1>Were you able to sense it?</h1>
	</div>
<%= form_for @sense do |f| %>
<div class="sense_new_yes_no_box">
	<%= f.text_field :sense, :placeholder => 'Yes / No', :class => "sense_new_yes_no_field" %>
</div>
<div class="sense_new_label">
	<%= f.label "How did you sense it?" %>
</div>
<div class="sense_new_text_field">
	<%= f.text_area :how_sense, :placeholder => 'How did you sense it', :class => "sense_new_text_field_box" %>
</div>
<div class="sense_new_button_box col-md-12">
	<%= f.submit :create, :value => "Next", :class => "sense_new_button" %>
</div>
<% end %>
</div>